form {
    margin-top: 25px;
    display: flex;
}

button {
    margin-right: 15px;
    margin-top: 25px;
}

.fieldc {
    padding-left: 150px;
}

.table {
    
    border: 1px solid black;
}

.div {
    padding-left: 150px;
}